* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(129, 9, 9);
}

#menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    background-color: rgb(129,9,9);
    box-shadow: 0 0 1rem black;
    
}

ul {
    display: flex;
    margin: auto;
    list-style-type: none;
}

a {
    color: black;
    cursor: pointer;
    padding: 1rem;
    font-weight: 750;
    text-decoration: none;
    position: relative;
    font-size: 20px;
    letter-spacing: 1px;
    padding: 0 20px;
    
}

a:after {
    content: "";
    position: absolute;
    background-color: #fff;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

a:hover {
    color: #fff;
}

a:hover::after {
    width: 100%;
}

.inicio {
    margin-top: 100px;
}

.texto01 {
    
    color: #fff;
    text-align: center;
    font-size: 40px;
}

.imagem {
    display: flex;
    margin: 0 auto;
    margin-top: 25px;
}

.titulo h1 {
    text-align: center;
    color: #fff;
    font-size: 30px;
    margin-top: 100px;
}


.lista01 {
    color: #fff;
    margin: auto 50px;
    margin-top: 30px;
    line-height: 30px;
}

.borda {
    box-shadow: 0 0 2rem black;
}

.titulo02 h1 {
    text-align: center;
    color: #fff;
    font-size: 30px;
    margin-top: 100px;
}

.lista02 {
    color: #fff;
    margin: auto 50px;
    margin-top: 30px;
    line-height: 30px;
}

.borda02 {
    box-shadow: 0 0 2rem black;
}

.titulo03 {
    text-align: center;
    color: #fff;
    font-size: 25px;
    margin-top: 50px;
}

.primeiro-titulo {
    color: #fff;
    text-align: center;
    margin-top: 50px;
}

.primeiro-texto {
    color: #fff;
    margin: auto 50px;
    margin-top: 15px;
    line-height: 25px;
}

.segundo-titulo {
    color: #fff;
    text-align: center;
    margin-top: 50px;
}

.segundo-texto {
    color: #fff;
    margin: auto 50px;
    margin-top: 15px;
    line-height: 25px;
}

.terceiro-titulo {
    color: #fff;
    text-align: center;
    margin-top: 50px;
}

.terceiro-texto {
    color: #fff;
    margin: auto 50px;
    margin-top: 15px;
    line-height: 25px;
}

.quarto-titulo {
    color: #fff;
    text-align: center;
    margin-top: 50px;
}

.quarto-texto {
    color: #fff;
    margin: auto 50px;
    margin-top: 15px;
    line-height: 25px;
}

.borda-01 {
    box-shadow: 0 0 2rem black;
}
main h2 {
    color: #fff;
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
}

.relato1 {
    display: flex;
    justify-content: space-between;
    color: #fff;
    margin: auto 4%;
    font-size: 15px;
    margin-top: 25px;
}

.relato2 {
    display: flex;
    justify-content: space-between;
    color: #fff;
    margin: auto 5%;
    font-size: 15px;
    margin-top: 40px;
    margin-bottom: 50px;
}

.form {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 700px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 30px 30px -30px rgba(27, 26, 26, 0.315);
    margin: 0 auto;
    margin-bottom: 100px;
    margin-top: 25px;
  }
  
  .form .title {
    color: rgb(129,9,9);
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .form input {
    outline: 0;
    border: 1px solid rgb(219, 213, 213);
    padding: 8px 14px;
    border-radius: 8px;
    width: 100%;
    height: 50px;
  }
  
  .form textarea {
    border-radius: 8px;
    height: 100px;
    width: 100%;
    resize: none;
    outline: 0;
    padding: 8px 14px;
    border: 1px solid rgb(219, 213, 213);
  }
  
  .form button {
    align-self: flex-end;
    padding: 8px;
    outline: 0;
    border: 0;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    background-color: rgb(129,9,9);
    color: #fff;
    cursor: pointer;
  }

  @media(max-width: 768px){
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        justify-self: center;
    }

    
    .container{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
  }

  